<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="co-lab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone2">
        <activity android:name=".UsefulActivity"></activity>
        <activity android:name=".TimeActivity" />
        <activity android:name=".WeekActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".IntroActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".BarChartMainActivity" />
    </application>

</manifest>